{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Senior Design Project: Qlik Sense Adapter Web Application<h1></h1>

<h2>Project Overview</h2>
The Qlik Sense Adapter Web Application is a senior design project that leverages a web-based platform to serve as an adapter, connecting users to the powerful cloud-based data analytics tool, Qlik Sense. This project addresses the need for seamless integration between external systems and Qlik Sense, facilitating efficient data analysis and visualization for users.

<h2>Features</h2>

<h4>Adapter Integration:</h4>
The adapter seamlessly connects users to Qlik Sense, allowing them to harness the full potential of the cloud-based data analytics tool without the need for complex configurations.

<h4>Data Analytics Workflow:</h4>
Users can navigate through a streamlined data analytics workflow, from data import to visualization, enhancing their experience in leveraging Qlik Sense for insightful data analysis.

<h2>Key Components</h2>
<h3>1. Web-based Adapter</h3>
The core component of the project, the web-based adapter, serves as the bridge between users and Qlik Sense. It handles authentication, data transfer, and communication with the cloud-based tool.

<h3>2. User Interface</h3>
The user interface is designed with a focus on simplicity and functionality. Users can easily import data, configure analysis parameters, and visualize results within the same platform.

<h3>3. Qlik Sense Integration</h3>
The adapter seamlessly integrates with Qlik Sense, ensuring a smooth and efficient connection. It leverages the capabilities of Qlik Sense for robust data analytics and visualization.

<h2>Project Team</h2>
Brandon Robinson
Caleb Ajakaiye
Max Agubuzo
Rose Fantahun
Taylor Walters

<h2>License</h2>
TBA

<h2>Acknowledgments</h2>
We would like to express our gratitude to Dr. Noushin Ghaffari and Cyriac Matthews for their guidance and support throughout the development of this senior design project. <br>

<a href="{% url 'index' %}">Go home</a>
{% endblock %}